<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Stepik Delivery</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="container mt-3">
    <nav class="py-1 navbar navbar-dark bg-dark">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <p class=" h5 my-2 text-white bg-dark">Stepik Delivery</p>
      </ul>
      <p class="my-2 text-white bg-dark ">Корзина ({{ menu_cart }}) </p>

      {% if current_user.is_authenticated %}

      <p class="my-2 text-white bg-dark "> {{ current_user.email }}  </p>
      <a href="{{ url_for('security.logout') }}" class="btn btn-light btn-sm ml-4">Выйти</a>
      {% else %}
      <a href="{{ url_for('security.login') }}" class="btn btn-warning btn-sm ml-4">Войти</a>
      {% endif %}
    </nav>
  </header>


{% with messages = get_flashed_messages(category_filter=['add']) %}
  {% if messages %}
    {% for message in messages %}
<main class="container mt-3">
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Поздравляем 🥳</h4>
  <p>Блюдо <b>{{ message }}</b> добавлено в корзину.</p>
  <a href="/cart/" btn btn-danger">Посмотреть корзину</a>
</div></main>
    {% endfor %}
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=['delete']) %}
  {% if messages %}
    {% for message in messages %}
<main class="container mt-3">
    <div class="alert alert-danger" role="alert">Блюдо <b>{{ message }}</b> удалено из корзины 😢</div>
</main>
    {% endfor %}
  {% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=['exists']) %}
  {% if messages %}
    {% for message in messages %}
<main class="container mt-3">
    <div class="alert alert-danger" role="alert">Блюдо <b>{{ message }}</b> уже в корзине 😢</div>
</main>
    {% endfor %}
  {% endif %}
{% endwith %}


{% block body %}

{% endblock %}

  <footer class="footer">
    <nav class="container navbar navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <p class="h4 nav-link">Stepik Delivery</p>
      </ul>
      <a class="text-muted" href="#">Project author 2020</a>
    </nav>
  </footer>
</body>
</html>